{% extends 'base.html.twig' %}

{% block body %}
    <h1>Learn More About Our Company</h1>
    <h2>About The Winthrop Observer</h2>
    <p>Mission Statement: We deliver what people need to discover and understand the region.</p>
<p>
 " ... the mission remains the same as it has been for decades: to report clearly, truthfully, completely. The Observer has shared one Pulitzer Prize and won three others outright, including two for public service, the pinnacle of American journalism (only seven newspapers have won more)."
- Ann Caulkins, Publisher, The Winthrop Observer
Founded: The first Winthrop Daily Chronicle, predecessor of today's Winthrop Observer, rolled out on March 22, 1886, as a challenge from one faction of the Democratic Party to a bloc led in large part by the publisher of the Winthrop Daily Observer, founded in 1869. In August 1887, the overwhelmed Observer folded; in 1892, the Chronicle took its name.
Trumpeting the "New South" and the Winthrop region's industrialization, the Observer thrived in the early 20th century. Two months before the 1929 stock market crash, its publisher, sensing danger, sold his NYSE holdings at a huge profit, amassing the cash to expand operations during the Depression by taking advantage of cheap newsprint.
The Observer was privately owned until the Knights bought it in 1954 for $7.225 million. Three years later, the Knights also acquired the afternoon Winthrop News, for $1 million. A new building opened in 1971 and helped spur a wave of uptown development that continues. In 1974, the Knight and Ridder newspaper corporations merged. The Winthrop Observer joined McClatchy in 2006 with McClatchy's purchase of Knight Ridder.
</p>

{% endblock %}