{% extends 'base.html.twig' %}
{% block body %}
    {% for article in articles %}
            <li><a href="article/{{ article.id }}">{{ article.title }}</a></li>
            {% filter slice(0, 155) %}
                {{ article.body|striptags ~ '...' }}
            {% endfilter %}
    {% endfor %}
    
{% endblock %}