{% extends 'base.html.twig' %}
{% block body %}
    {% for article in articles %}
            <li><a href="article/{{ article.id }}">{{ article.title }}</a></li>
            {% filter striptags|slice(0, 155)  ~ '...' %}
                {{ article.body }}
            {% endfilter %}
            {#{{ article.body|striptags|slice(0, 155)  ~ '...'}}#}
            {# I have tried absolutely everything I could think of to erase those <p> tags. At one point they were gone, now they've reappeared. #}
    {% endfor %}
    
    
{% endblock %}